services:
  claudebox:
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host
    pid: host
    working_dir: /work
    tty: true
    user: "${UID}:${GID}"
    environment:
      TERM: ${TERM}
      COLORTERM: ${COLORTERM}
    volumes:
      # - /etc/passwd:/etc/passwd:ro
      # - /etc/group:/etc/group:ro
      - ${HOME}/.claude.json:/home/ubuntu/.claude.json:rw
      - ${HOME}/.claude:/home/ubuntu/.claude:rw
      - ${HOME}/.vimrc:/home/ubuntu/.vimrc:ro
      - ${HOME}/.gitconfig:/home/ubuntu/.gitconfig:ro
      - ${HOME}/.cache:/home/ubuntu/.cache:rw
      - ../backend:/work/backend:rw
      - ../backend/.git:/work/backend/.git:ro
      - ../frontend:/work/frontend:rw
      - ../frontend/.git:/work/frontend/.git:ro
    # Required for Chromium
    shm_size: 1G
